In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\andre\OneDrive\Área de Trabalho\REPROGRAMA\SEMANA 12\on33-python-s12-pandas-numpy-II\material\desenvolvimento_paises.csv')

In [2]:
df.describe(include='all')

,Country,AveragScore,SafetySecurity,PersonelFreedom,Governance,SocialCapital,InvestmentEnvironment,EnterpriseConditions,MarketAccessInfrastructure,EconomicQuality,LivingConditions,Health,Education,NaturalEnvironment
count,170,170.000000,170.000000,170.000000,170.000000,169.000000,167.000000,169.000000,170.000000,170.000000,169.000000,170.000000,170.000000,170.000000
unique,168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,58.346353,67.404941,56.967118,50.814882,54.595858,53.315210,55.006272,55.376235,51.920765,70.046213,68.840647,59.121765,56.293176
std,NaN,13.405679,17.520573,20.060552,17.970393,10.499506,17.032216,12.949856,15.937553,13.577430,19.769507,11.186808,19.741883,9.093022
min,NaN,30.400000,16.540000,16.160000,13.090000,23.010000,21.690000,20.500000,24.230000,24.460000,19.210000,31.950000,16.780000,33.670000
25%,NaN,47.840000,59.480000,39.540000,37.905000,47.950000,40.765000,45.850000,40.457500,41.402500,55.900000,60.675000,44.580000,50.380000
50%,NaN,57.870000,69.015000,57.185000,47.660000,54.440000,51.250000,53.700000,57.230000,50.460000,74.770000,71.740000,62.120000,55.505000
75%,NaN,67.900000,80.680000,72.967500,61.812500,60.600000,65.015000,63.450000,69.602500,63.017500,87.690000,77.437500,76.685000,62.030000
max,NaN,84.550000,96.320000,94.100000,90.410000,82.560000,84.990000,83.840000,85.750000,80.100000,95.860000,86.890000,91.440000,78.740000